body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
}

button {
    background-color: wheat;
    color: black;
    padding: 12px 32px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in;
    margin-top: 20px;
    border-radius: 1000px;
}

button:hover {
    background-color: white;
    transform: translate(0, 2px);
    scale: 1.07;
}

button a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}