body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
}


button a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}